@import url('https://fonts.googleapis.com/css?family=Montserrat');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background: url('https://www.buenavistaconstructora.com/images/editor-content/7dc86e97527f811974e330d67fbcfcea_06PISCINAcorregidomasluz.jpg') no-repeat;
    background-size: cover;
  }

.loginCard
{
    display: grid;
    grid-row-gap: 2em;
    grid-column-gap: 1em;
    background: rgb(255,255,255,0.7);
    padding: 2.5em 3em 3em;
}

.loginCard > *
{
    text-align: center;
    border: none;
}

.title
{
    grid-column: 1/3;
    padding-bottom: 2em;
    color: #3B5998;
}

.title h1
{
    font-size: 3em;
}

.inputsLogin
{
    border-bottom: 1px solid black;
    margin-bottom: em;
    font-size: 1.3em;
    padding: 0.5em 0em;
    opacity: 0.7;
    font-weight: bold;
}

.inputsLogin:hover
{
    border: 1px solid gray;
}

#userName
{
    grid-column: 1/3;
}

#password
{
    grid-column: 1/3;
}

#login{
    grid-column: 1/3;
    width: calc(300px + 1em);
    margin: 2em auto 0em;
    padding: 0.8em 0em;
    border-radius: 0.7em;
    background-color: #ffa500;
    font-size: 1.1em;
    font-weight: bold;
    color:white;
}

.socialNetwotks
{
    width: 150px;
    margin: 0em auto;
    padding: 0.8em 0em;
    border-radius: 0.7em;
    font-size: 1.1em;
    font-weight: bold;
    color:white;
}

.socialNetwotks i
{
    padding-right: 1em;
}

#facebook{
    grid-column: 1/2;
    background-color: #3B5998;
}

#google{
    grid-column: 2/3;
    background-color: #dd4b39;
}

#login:hover, .socialNetwotks:hover
{
    cursor: pointer;
    border: 0.5px solid rgb(255, 255, 255, 0.8);
    border-radius: 0.7em;
}
